$font-primary: 'Trebuchet MS', Arial, sans-serif;
$font-secondary: 'Exo 2', Arial, sans-serif;

$white: #fff;
$black: #000;

$color-text-primary: $black;
$color-text-secondary: rgb(102,102,102);
$color-text-disabled: rgb(179,179,179);

$color-background: #f2f2f2;

$color-default: #1597d9;
$color-default-hover: #2da8e5;
$color-default-text: #1698d9;
$color-default-text-hover: #2ea8e6;

$color-selected: #d91567;
$color-selected-hover: #e52d79;
$color-selected-text-hover: rgb(230,46,122);

$color-disabled: #b3b3b3;
$color-disabled-text: rgb(255,255,102);
