.product
  input(type='checkbox' disabled)#prod3.product__checkbox
  label(for='prod3').product__card
    .product__subdescription--container
      .product__triangle.product__triangle--border
      .product__triangle.product__triangle--bg
      .product__subdescription.product__subdescription--default Сказочное заморское яство
      .product__subdescription.product__subdescription--selected-hover Котэ не одобряет?
    .product__text--container
      .product__title Нямушка
      .product__subtitle с курой
      .product__option
        span.option__count 100
        span.option__text порций
      .product__option
        span.option__count 2
        span.option__text мыши в подарок
      .product__option
        span.option__text заказчик доволен
      .product__rate--container
        .product__rate
          .product__value 5
          .product__currency кг
      .product__image--container
        .product__image
          img(src='../images/cat.png')
  .product__caption
    .product__caption--item.product__caption--default Чего сидишь? Порадуй котэ,
      label(for='prod3').product__action--container
        span.product__action купи
        span .
    .product__caption--item.product__caption--selected Филе из цыплят с трюфелями в бульоне.
    .product__caption--item.product__caption--disabled Печалька, с курой закончился.
